@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300;400;600&family=Satisfy&display=swap'); */

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Satisfy', cursive; 
*/


:root{
    --primary-color: #F87171;
    --secondary-color: #FECACA;
    --bg-color: #FEF2F2;
    --dark: #991B1B;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--dark);
}

.brand{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.heading{
    color: var(--dark);
    font-family: 'Satisfy', cursive; 
    /* font-family: 'Dancing Script', cursive; */
    font-weight: bold;
    font-size: 2rem;
}

.intro{
    padding: 0 1rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    /* background-color: var(--secondary-color); */
    text-align: center;
    padding: 1rem;
}

.note{
    background-color: var(--primary-color);
    padding: 0 0.3rem;
    color: white;
    border: 1.5px solid var(--dark);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    max-width: 270px;
    font-size: 0.7rem;
    margin: 0 auto 1rem auto;
}

.privacy{
    font-weight: bold;
}

input{
    margin-bottom: 1rem;
    width: 60%;
    height: 1.5rem;
    border: 1.5px solid var(--dark);
    padding: 0.5rem;
    background-color: var(--secondary-color);
}

button{
    /* margin: 1rem; */
    padding: 0.5rem;
    width: 100px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

ul{
    padding-inline-start: 0px;
    margin: 0.5rem auto 0 auto;
}

li{
    display: inline;
    font-size: 1.2rem;
    /* color: var(--dark); */
    margin: 0 0.5rem;
}

a:hover{
    color: var(--dark);
}

a{
    color: white;
}

.tag{
    margin-bottom: 0rem;
}

.lucky{
    display: none;
}

.unlucky{
    display: none;
}

.footHeading{
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Satisfy', cursive;
    color: var(--dark);
}